* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --holb-red: #e23c40;
}

/* Footer */

.App-footer {
  font-style: italic;
  border-top: 3px solid var(--holb-red);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vmin;
}