* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --holb-red: #e23c40;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
  cursor: pointer;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(8px + 2vmin);
  border-bottom: 3px solid var(--holb-red);
}

.App-header h1 {
  max-width: fit-content;
  color: var(--holb-red);
}